#intro {
    text-align: center;
}

#intro-box {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1vw 2vw 1vw 2vw;
    margin: 0 auto;
    width: 30vw;
}

#intro-summary, #intro-summary a {
    font-family: 'Nunito', sans-serif;
    color: black;
}

#intro-name {
    font-family: 'Nunito', sans-serif;
}

#intro-chevron {
    text-align: center;
    font-size: 2em;
    color: white;
    margin-top: 65vh;
}

#intro-linkedin {
    background: #4198ff;
    color: #ffffff;
}

#intro-linkedin:hover {
    background: #2c7bd9;
}

#intro-gmail {
    background: #ff6262;
    color: #ffffff;
}

#intro-gmail:hover {
    background: #dd4747;
}

#intro-linkedin, #intro-gmail {
    border-radius: 5px;
    padding: 4px 6px;
}
