#legend {
    color: #272453;
}

#legend-box {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
    margin: 5% auto;
    width: 70vw;
}

#legend-bio {
    text-align: justify;
    text-justify: inter-word;
    padding: 10% 5% 10% 10%;
    height: 25%;
    width: 45%;
    float:left;
}

#legend-hello {
    font-family: 'Damion', cursive;
    font-size: 4em;
    margin: 0;
    line-height: 1em;
}

#legend-desc {
    position: relative;
    line-height: 1.2em;
    font-size: 1.25em;
}

#legend-portait {
    border-radius: 50%;
    padding: 7.5% 2.5%;
    width: 30%;
}

#legend-project-list {
    margin-bottom: 10%;
    padding-bottom: 5%;
}

.legend-list-item, #legend-desc {
    font-family: 'Varela Round', sans-serif;
}

.legend-list-item-border {
    height: 100%;
    padding: 2.5% 5%;
    border-left: 20px solid;
}

.legend-list-item {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
}

.legend-list-header {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0;
}

.legend-list-summary {
    color: #777e9d;
    text-align: justify;
    text-justify: inter-word;
}

.legend-list-tag {
    padding: 0 2%;
    margin-right: 2%;
    border: 2px solid;
    border-radius: 10px;
    /* border-bottom-left-radius: 10px/50%; */
    border-color: #b0b4cb;
    color: #999eb9;

}
