body {
    background: url("https://emmelih.github.io/Portfolio/images/pexels-photo-167699.jpeg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.vcenter {
    position: relative;
    transform: translateY(-50%);
    top: 47%;
}

.flex-vert {
    flex-direction: column;
}

.flex-inline {
    display: inline-flex;
}

.no-margin {
    margin: 0;
}

#intro, #portfolio, #overview {
    height: 100vh;
    width: 100vw;
}

#panorama {
    height: 100vh;
    width: 200vw;
}
