body {
    background: linear-gradient(to top left, #66ffe8, #b945e2);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.hide-scrollbar {
    /* position: absolute; */
    /* padding: 0 20px 0 0; */
    /* overflow-x: hidden; */
    top: 0;
    left: 0;
}

.content {
    height: 100vh;
    width: 100vw;
}

#intro, #legend {
    height: 100vh;
    width: 100vw;
}

#intro-box {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 1vw 2vw 1vw 2vw;
    margin: 0 auto;
    width: 30vw;
}

#intro-summary, #intro-summary a {
    font-family: 'Nunito', sans-serif;
    color: black;
}

#intro-name {
    font-family: 'Nunito', sans-serif;
}

#intro-chevron {
    text-align: center;
    font-size: 2em;
    color: white;
    padding-top: 65vh;
}

#intro-linkedin {
    border-radius: 5px;
    background: #4198ff;
    padding: 4px 6px;
    color: #ffffff;
}

#intro-linkedin:hover {
    background: #2c7bd9;
}

.vcenter {
    position: relative;
    transform: translateY(-50%);
    top: 47%;
}
