
#overview {
    background-color: #ffffff;
    overflow-y: scroll;
}

#overview-header {
    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
    padding-top: 5%;
}

#overview-return {
    width: 10%;
    text-align: center;
    font-size: 2em;
}

#overview-title {
    font-family: 'Varela Round', sans-serif;
    font-size: 3em;
    line-height: 1em;
}

#overview-return, #overview-header {
    color: #000000;
}

#overview-content {
    margin: 2.5% 10%;
    padding-bottom: 10%;
}

#overview-textarea {
    width: 60%;
}

#overview-date {
    margin-bottom: 2.5%;
    margin-left: 5%;
    color:#b5b5b5
}

.overview-text {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    text-align: justify;
    text-justify: inter-word;
    color: #585858;
}

.overview-text-box {
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 5%;
    padding: 2.5% 5%;
}

#overview-meta {
    width: 35%;
    margin-left: 5%;
}

#overview-image {
    border-radius: 2px;
    width: 100%;
}

.overview-metadata-box {
    background-color: rgba(0, 0, 0, 0.04);
    margin-top: 2.5%;
    padding: 5%;
    width: 90%;
}

#overview-team {
    color: #8a8a8a;
}
